body {
  background-color: #EFF1F3;
  font-family: 'Lato', sans-serif;
  color: #223843;
  font-size: 18px;
  line-height: 1.5;
  font-weight: bold;
}

h1 {
  color: white;
  font-weight: bold;
  font-family:'Montserrat', sans-serif;
  font-size: 46;
  line-height: normal;
}

h2 {
  color: #CA987D;
  font-family:'Alegreya Sans', sans-serif;
  font-size: 32;
  line-height: normal;
}

a {
  color: #8884FF;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #7F055F;
}

.container {
  width: 700px;   /* This sets the width */
  margin: 0 auto;
}

.card {
  background: white;
  text-align: center;
  margin: 24px auto;                         /* White background */
  padding: 30px;                             /* Internal space */
  border-radius: 4px;                        /* Small radius */
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  border-radius: 4px; /* This automatically sets left/right margins */
}

.list-inline > li {
  display: inline-block;
  padding: 0px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}


.btn-blue {
  background-color: #8884FF;
  color: white;
  padding: 8px 24px;
  border-radius: 5px;
}

.btn-blue:hover {
  background-color: #45062E;
  color: white;
}

.social-icon {
  font-size: 38px;
  color: rgb(220,220,220);
  margin: 4px 8px;
}


@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }


}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

.background {
  position: relative;
  text-align: center;
  color: white;
}

.centered-right {
  position: absolute;
  top: 50px;
  right: 25px;
  text-align: left;
}

.img-circle {
  position: absolute;
  border-radius: 50%;
  bottom: 0px;
  left: 16px;
}

.cards {
  display: flex;
}

.card-container {
  width: 400px;
  margin: 0px 24px 24px;
}

.card-white {
  background-color: white;
  padding: 16px;
  border: 2px solid rgb(250,250,250);
  border-radius: 5px;
}

.card-image {
  position: relative;
  height: 150px;
  background-size: cover;
  background-position: 50% 87%;
}


.btn-white {
  position: absolute;
  top: 20px;
  right: 50px;
  text-align: center;
}

.card-image btn-white:hover {
  color: #8884FF;
}

.image-opacity {
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
}

.image-opacity:hover {
  background-color: rgba(0,0,0,0.7);
}
